# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Generated output
output_images/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
imu/BMI270/*.csv
imu/BMI323/*.csv
